<div class="card">
    {# <img src="{{ product.image }}" alt="" class="card-img-top"> #}

    <div class="card-body">
        <h5 class="card-title"> <strong> {{product.nom}} </strong></h5>
        <div clas="card-title">
            Caution: {{product.caution}}€
        </div>
        <div clas="card-title">
            {{product.categorie}}
        </div>
        <div clas="card-title">
            {% if product.statut[0] == "STATUT_LOUE" %}
             Loué
            {%elseif product.statut[0] == "STATUT_DISPONIBLE"%}
            Disponible
            {%else%}
            Indisponible
            {%endif%}

        </div>
        <div clas="card-title">
            {{product.owner}}
        </div>
    </div>

</div>