{% extends "base.html.twig" %}


{% block title %} Confirmation d'emprunt ou de rendu : {% endblock %}

{% block body %}


  <h1> Vous avez scanner l'objet suivant : </h1>
  <h4> </br></h4>
<table class="table table-hover">
 <thead>
    <tr>
      <th scope="col">Description de l'objet</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <tbody>

    <tr>
      <th scope="row">Nom </th>
      <td>{{product.nom}}</td>
    </tr>
       <tr>
      <th scope="row">Prix </th>
      <td>{{product.prix}}</td>
    </tr>
        <tr>
      <th scope="row">Etat</th>
      <td>{{product.etat}}</td>
    </tr>
        <tr>
      <th scope="row">Numéro de série</th>
      <td>{{product.numSerie}}</td>
    </tr>
        <tr>
      <th scope="row">Statut</th>
      <td>{{product.statut[0]}}</td>
    </tr>
  </tbody>
</table> 

  {% if app.user.id == idOwner %}


	{% if product.statut[0] ends with 'STATUT_DISPONIBLE' %} 
  <h4 text-align="center" > </br></br> Voulez-vous emprunter cet objet ? </h4>
  

    <button type="button" class="btn btn-outline-success" onclick="self.location.href='/add-borrowing/{{product.id}}'" > Oui</button>

    <button type="button" class="btn btn-outline-danger" onclick="self.location.href='/'" > Non</button>



</div> 

  {% else %}

  
  <h4> Cet objet vous a bien été remis ? </h4>
  <label class="btn btn-primary">
    <input type="checkbox" onclick="" autocomplete="off"> Oui
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" onclick="" autocomplete="off"> Non
  </label>

  {%endif%}

  {%endif%}

{% endblock %}

