 
{% extends "base.html.twig" %}

 {% block title %}Detail du client{% endblock %}
 
 {% block body %}
   <h1>Le détail du client </h1>


<table style="width:100%">
            <tr>
                <td>
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Informations principales : </div>
  <div class="card-body">
    <p class="card-text">Objet : {{product.nom}}</p>
    <p class="card-text">Prix : {{product.prix}}</p>
    <p class="card-text">Catégorie : {{product.categorie}}</p>
    <p class="card-text">Caution : {{product.caution}}</p>
    <p class="card-text">Etat : {{product.etat}}</p>
    <p class="card-text">Numéro de série : {{product.numSerie}}</p>
    <p class="card-text">Kit : {{product.kit}}</p>
    <p class="card-text">Propriétaire : {{product.owner.nom}}</p>
    <p class="card-text">Statut : {{product.statut[0]}}</p>
    
  </div>
  </td>

  </tr>



  
</table>           
    

 {% endblock %}
