
{% extends "base.html.twig" %}

 {% block title %}Detail du client{% endblock %}

 {%block stylesheets%}

 {% endblock %}}
 
 {% block body %}
   <h1>Le détail du client </h1>


<table style="width:100%">
            <tr>
                <td>
<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">Informations principales : </div>
  <div class="card-body">
    <p class="card-text">Nom de famille : {{client.nom}}</p>
    <p class="card-text">Prénom : {{client.prenom}}</p>
    <p class="card-text">Date de naissance : {{client.naissance| date('Y-m-d')}}</p>
    <p class="card-text">Email : {{client.email}}</p>
    <p class="card-text">Rôle : {{client.roles[0]}}</p>
  </div>
  </td>

  <td>
</div>
<div class="card border-info mb-3" style="max-width: 20rem;">
  <div class="card-header">Ses objets :</div>
  <div class="card-body">
    {%for product in listLendings %}
      <p class="card-header">Nom de l'objet : {{product.nom}}</p>                        
      <p class="card-text">Catégorie : {{product.categorie}}</p>       
    {% endfor %}                                       
  </div>
  </td>
  
  <td>
</div>
<div class="card border-success mb-3" style="max-width: 20rem;">
  <div class="card-header">Ses emprunts :</div>
  <div class="card-body">
      {%for borrowing in listBorrowings %}
          <p class="card-header">Objet : {{borrowing.idProduct}}</p>
          <p class="card-text">Date de début : {{borrowing.dateDebut | date('Y-m-d')}}</p>
          <p class="card-text">Date de fin : {{borrowing.dateFin | date('Y-m-d')}}</p>
      {% endfor %}

  </div>
</div>
</td>
</tr>

  
</table>           
    

 {% endblock %}
